.carousle{
    display: flex;
    justify-content: center;
    align-items:    center;
    width: 100%;
    /* height: 100vh; */
    background-color: aqua;
    gap: 1rem;
}
.carousleContainer{
    display: flex;
    gap: 1rem;
    width: 200px;
    overflow: hidden;
    scroll-behavior: smooth;
}
/* .carousleItem{
    width: 20rem;
    height: 10rem;
} */
.carousleItem .list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}